elpa/
auto-save-list/
*.dat
*.eld
*.cache
url/
el-get/
.python-environments
#*
#*#
*#*#
var
emms
ido.last
*.#*
.godeps/
bin
custom.el

# Gtags

GPATH
GTAGS
GRTAGS
recentf
*.before*
srecode-map.el
eshell
